<h1>Editing bing article</h1>

<%= render "form", bing_article: @bing_article %>

<br>

<div>
  <%= link_to "Show this bing article", @bing_article %> |
  <%= link_to "Back to bing articles", bing_articles_path %>
</div>
