<h1>Editing factiva article</h1>

<%= render "form", factiva_article: @factiva_article %>

<br>

<div>
  <%= link_to "Show this factiva article", @factiva_article %> |
  <%= link_to "Back to factiva articles", factiva_articles_path %>
</div>
