<h1>Editing articleintern</h1>

<%= render "form", articleintern: @articleintern %>

<br>

<div>
  <%= link_to "Show this articleintern", @articleintern %> |
  <%= link_to "Back to articleinterns", articleinterns_path %>
</div>
