<div class="card  mb-2">
  <div class="card-header p-3 pt-2">
     <div class="icon icon-lg  icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl w-25 mt-n4 position-absolute "style="height:50px; ">
         <i class="material-icons opacity-10">leaderboard</i>
    </div>
     <div class="text-end pt-1">
         <p class="text-sm mb-0 text-capitalize"><%= name %></p>
         <h4 class="mb-0"><%=count%></h4>
     </div>
   </div>
   <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
        <p class="mb-0"><span class="text-success text-sm font-weight-bolder"><%=article %> </span>Last update</p>
      </div>
 </div>
