.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.conainerr_test {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.div-block, .card {
  width: 500px;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-xhuge {
  margin: 8rem;
}

.text-weight-bold {
  font-weight: 700;
}

.icon-height-small {
  height: 1rem;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.text-size-small {
  font-size: .875rem;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.margin-0 {
  margin: 0;
}

.text-weight-xbold {
  font-weight: 800;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-0 {
  padding: 0;
}

.text-size-tiny {
  font-size: .75rem;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.background-color-white {
  background-color: #fff;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
}

.text-align-right {
  text-align: right;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.overflow-visible {
  overflow: visible;
}

.text-weight-medium {
  font-weight: 500;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.icon-height-large {
  height: 3rem;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.padding-custom1 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.margin-small {
  margin: 1rem;
}

.text-size-regular {
  font-size: 1rem;
}

.padding-xsmall {
  padding: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.icon-height-medium {
  height: 2rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.padding-custom3 {
  padding: 3.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
}

.margin-xxhuge {
  margin: 12rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.margin-huge {
  margin: 6rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.margin-medium {
  margin: 2rem;
}

.text-color-white {
  color: #fff;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(0, 115, 230, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.text-weight-semibold {
  font-weight: 600;
}

.padding-small {
  padding: 1rem;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: gray;
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-bottom.padding-small {
  color: #fff;
}

.text-align-center {
  text-align: center;
}

.text-style-link {
  color: #000;
  text-decoration: underline;
}

.margin-xsmall {
  margin: .5rem;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #0073e6;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  color: #000;
  background-color: #f5f5f5;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-style-italic {
  font-style: italic;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-size-medium {
  font-size: 1.25rem;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.text-align-left {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.margin-custom2 {
  margin: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.overflow-auto {
  overflow: auto;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.form_component {
  margin-bottom: 0;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.margin-tiny {
  margin: .125rem;
}

.padding-global {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: static;
  top: 0;
}

.padding-large {
  padding: 3rem;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.text-weight-light {
  font-weight: 300;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.padding-xxsmall {
  padding: .25rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.padding-xxhuge {
  padding: 12rem;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.background-color-grey {
  background-color: #f5f5f5;
}

.text-style-muted {
  opacity: .6;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-medium {
  padding: 2rem;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, .05);
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.form_message-success {
  padding: 1.25rem;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(0, 115, 230, .1);
  border: 1px dashed #0073e6;
  position: relative;
}

.padding-huge {
  padding: 6rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.fs-styleguide_color.is-3 {
  background-color: #fff;
}

.fs-styleguide_color.is-1 {
  background-color: #000;
}

.fs-styleguide_color.is-2 {
  background-color: #f5f5f5;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #000;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-bottom-width: .125rem;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.margin-large {
  margin: 3rem;
}

.padding-tiny {
  padding: .125rem;
}

.fs-styleguide_spacing-all {
  display: none;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.hide {
  display: none;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.div-block-2 {
  display: flex;
}

.flex {
  align-items: center;
  display: flex;
}

.people-wrapper {
  background-color: #32a29e;
  border: 1px solid #000;
  border-radius: 2px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.body {
  border: 0 #000;
}

.collection-item {
  display: flex;
}

.news-item {
  background-color: #b12a9a;
  border: 1px solid #000;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.sort-onload {
  display: none;
}

.section-main-wrapper {
  width: auto;
  background-color: #f6f6f6;
  border: 1px #000;
}

.future-events_wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #397eb6;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 1rem;
  display: grid;
}

.heading {
  color: #fffefe;
}

.heading.text-align-center {
  padding-left: 1rem;
  padding-right: 1rem;
}

.past-events-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #5aaa3f;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 1rem;
  display: grid;
}

.item-element {
  width: 100%;
  height: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  text-align: center;
  background-color: #a3c5d1;
  border: 1px dashed #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  font-size: 12px;
  display: flex;
}

.list-wrapper {
  background-color: #194e97;
}

.team-indv-link-block {
  height: auto;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: box-shadow .3s;
  overflow: hidden;
}

.team-indv-link-block.component-card-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.team-indv-link-block.component-card-wrapper.text-align-center {
  width: 100%;
}

.image-team-desktop {
  width: auto;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 0;
  display: block;
  position: static;
}

.team-name {
  color: #010108;
  margin: 12px 0 6px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1;
}

.team-title {
  color: #010108;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
}

.container-full {
  width: 100vw;
  height: auto;
  max-width: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: static;
  overflow: hidden;
}

.container-full.newsletter {
  padding-top: 60px;
}

.wrapper {
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 0;
  line-height: 1.2;
  overflow: hidden;
}

.field-label {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 500;
}

.page-padding-2 {
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.page-padding-2:hover {
  opacity: 1;
}

.padding-vertical-2 {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.btn-global {
  text-transform: uppercase;
  background-color: #3665ff;
  padding: 9px 18px;
  font-size: .9rem;
  font-weight: 500;
  transition: background-color .3s;
}

.btn-global:hover {
  background-color: #77108d;
}

.left-newsletter {
  width: 50vw;
  height: 100dvh;
  background-image: url('../images/00_PIA02656.jpg');
  background-position: 0 0;
  background-size: cover;
}

.text-field-global {
  border-radius: 4px;
  margin-bottom: 18px;
}

.right-newsletter {
  width: 50vw;
  height: 100dvh;
  align-self: auto;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
}

.header {
  width: auto;
  color: #20125c;
  flex: 0 auto;
  align-self: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  display: block;
}

.header.newsletter {
  font-size: 3rem;
  line-height: 3rem;
}

.wrapper-form-newsletter {
  width: 50%;
}

.wrapper-form-newsletter.popup {
  width: 100%;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.section-newsletter {
  width: 100vw;
  height: 1000px;
  opacity: .89;
  background-color: #eaf1e6;
  display: none;
  position: absolute;
  top: -664px;
}

.container_newletter-button {
  justify-content: flex-end;
  display: flex;
}

.button-newsletter-close {
  background-color: #967b50;
  border-radius: 20px;
  font-size: 16px;
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-link.button-newletter {
  color: #ed1216;
  font-size: 16px;
  font-weight: 700;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.form {
  display: block;
}

.text {
  color: #010108;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.text.text-color-white {
  color: #fff;
}

.wrapper-newsletter-popup {
  z-index: 1000;
  width: 100dvw;
  height: 100dvh;
  object-fit: fill;
  background-color: rgba(22, 22, 22, .96);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wrapper-newsletter-popup-image {
  height: 20dvh;
  background-image: url('../images/00_PIA02656.jpg');
  background-position: 0 0;
  background-size: cover;
}

.label {
  color: #818181;
  text-transform: uppercase;
  margin: 0;
  padding-left: 0;
  font-size: .8rem;
  font-weight: 400;
  line-height: .8rem;
}

.label.newsletter.popup {
  color: #ef661e;
  font-size: 1rem;
  font-weight: 500;
}

.wrapper-newsletter-text {
  width: 72%;
}

.wrapper-newsletter-text.popup {
  width: 100%;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.wrapper-newsletter-popup-modal {
  width: 33dvw;
  height: auto;
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-clip: border-box;
  padding: 0;
}

.container-newsletter-button {
  justify-content: flex-end;
  display: flex;
}

.button-2 {
  background-color: #db3413;
  border-radius: 20px;
  justify-content: flex-end;
  display: inline-block;
}

.button_newletter-close {
  background-color: rgba(236, 77, 56, 0);
  border-radius: 20px;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 400;
}

.close_button-wrapper {
  padding: 5px;
}

.long_text_container, .rich-text-block {
  position: relative;
}

.button-3 {
  width: 25%;
  position: static;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.rich-text-container {
  background-color: #f61616;
  margin-top: 55px;
  margin-bottom: 62px;
}

.section-background_image {
  height: 100vh;
  background-image: url('../images/COMMUNITYJAMEEL_IO_BG_v1.webp');
  background-position: 0 0;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.big-image_container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  mix-blend-mode: exclusion;
}

.test-ightbox-custom_container {
  z-index: 1;
  width: auto;
  height: 100vh;
  opacity: .9;
  background-color: #070707;
  justify-content: center;
  align-items: center;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.test-lightbox_image {
  z-index: 2;
  opacity: 1;
  flex: 0 auto;
  position: absolute;
}

.test-custom-lightbox_wrapper {
  height: auto;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.test-lighbox-container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.container-for-link-test {
  background-color: #9097c9;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  display: flex;
}

.link {
  color: #e5d9d9;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.features-table {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  max-width: 530px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.comparison-table {
  flex-direction: column;
  margin-top: 50px;
  display: flex;
}

.comparison-row-main {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
}

.comparison-title {
  margin-bottom: 0;
  margin-left: 24px;
}

.comparison-row {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #e4ebf3;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
}

.comparison-negative {
  background-image: url('../images/');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
  margin-left: 24px;
  padding-left: 40px;
}

.comparison-positive {
  background-image: url('../images/');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
  margin-left: 24px;
  padding-left: 40px;
}

.div-block-3 {
  width: auto;
  height: 100vw;
  max-width: 35%;
  min-width: 25%;
  background-color: #2f3672;
  position: fixed;
}

.nav_vertical-wrapper {
  position: relative;
  top: 0;
}

.nav_vertical-title {
  color: #fff;
  text-align: center;
  position: static;
  top: 0;
}

.nav_link-container {
  color: #c1c1c1;
  text-align: left;
}

.nav_link {
  color: #c1c1c1;
  font-size: 16px;
  text-decoration: none;
}

.nav_link.active {
  background-color: #303e63;
  border-radius: 4px;
  padding: 10px;
  display: block;
}

.section_navbar {
  height: 100vw;
  max-width: 35%;
  min-width: 5%;
  background-color: #001240;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main-container {
  height: auto;
  min-width: auto;
  background-color: rgba(0, 0, 0, 0);
}

.table-container {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.body-2 {
  display: block;
}

.global_wrapper {
  width: 100%;
  min-width: auto;
  display: flex;
}

.sticky_sidebar {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav_tab-wrapper {
  width: 100%;
  min-width: auto;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  background-color: rgba(0, 0, 0, 0);
  justify-content: flex-start;
  display: flex;
}

.nav_tab-link {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #7e7e7e;
  border: 1px #000;
  justify-content: space-between;
  padding: 1rem 2rem;
  text-decoration: none;
  display: flex;
}

.nav_tab-link.nav_link-active {
  color: #242222;
  border-bottom-style: solid;
  justify-content: space-around;
  text-decoration: none;
}

.table-title, .table-row {
  width: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #303e63;
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-radius: 1px;
  grid-template: ". Area-2 . . . . Area"
  / 5fr .5fr 3fr 2fr 2fr 2fr 2fr;
  grid-auto-columns: 1fr;
  padding: 1rem 1rem 0;
  font-weight: 700;
  line-height: 21px;
  display: grid;
}

.table_view-link {
  color: #7e7e7e;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
}

.table-score {
  text-align: center;
}

.table_actions {
  justify-content: space-around;
  display: flex;
}

.table_actions:hover {
  display: flex;
}

.image-2 {
  max-width: 50%;
  display: block;
}

.image-3 {
  display: block;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .hide-tablet {
    display: none;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .container-full {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  .page-padding-2 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-vertical-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .left-newsletter {
    width: auto;
    height: 20vh;
  }

  .right-newsletter {
    width: auto;
    height: auto;
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .wrapper-form-newsletter {
    width: auto;
  }

  .section-newsletter {
    width: auto;
    height: auto;
  }

  .container_newletter-button {
    justify-content: center;
    align-items: flex-end;
  }

  .container {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .wrapper-newsletter-text {
    width: auto;
  }

  .wrapper-newsletter-popup-modal {
    width: 90dvw;
  }

  .section-background_image {
    justify-content: center;
    display: flex;
  }

  .container-2 {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .fs-styleguide_version {
    font-size: .875rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .team-indv-link-block {
    display: block;
  }

  .container-full {
    padding-left: 0;
    padding-right: 0;
  }

  .page-padding-2 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-vertical-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .test-lightbox_image {
    width: 80%;
  }

  .features-table {
    padding: 60px 15px;
  }

  .sticky_sidebar {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .image-team-desktop {
    height: auto;
    max-height: none;
    min-height: auto;
    min-width: auto;
  }

  .container-full {
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    position: relative;
  }

  .padding-vertical-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .wrapper-form-newsletter.popup {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container {
    max-width: none;
  }

  .wrapper-newsletter-text.popup {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container-2 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .comparison-row-main {
    grid-column-gap: 20px;
  }

  .comparison-title {
    margin-left: 10px;
  }

  .comparison-row {
    grid-column-gap: 20px;
  }

  .comparison-negative {
    background-position: 0 5px;
    background-size: 14px;
    margin-left: 10px;
    padding-left: 20px;
  }

  .comparison-positive {
    background-position: 0 4px;
    background-size: 16px;
    margin-left: 10px;
    padding-left: 20px;
  }
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f3d7-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f3dc-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f3e1-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f3e6-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f3ec-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f3f2-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f3f8-48bfd909 {
  justify-self: start;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f505-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f51e-48bfd909 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f521-48bfd909 {
  justify-self: start;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f523-48bfd909 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f526-48bfd909 {
  justify-self: start;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f58f-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f599-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f59a-48bfd909 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f608-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f60d-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f612-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f617-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f61c-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f621-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f62b-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f630-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f635-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f63a-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f63f-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f644-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f649-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f64e-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f653-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f658-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f65d-48bfd909 {
  justify-self: start;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f661-48bfd909 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f662-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f667-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f66c-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f671-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f686-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f68b-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f690-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f695-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f69a-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f69f-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6a9-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6ae-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6b3-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6b8-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6bd-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6c2-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6c7-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6cc-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6d1-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6d6-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6db-48bfd909 {
  justify-self: start;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f6df-48bfd909 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f6e0-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6e5-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6ea-48bfd909, #w-node-b52d0c38-c63f-8c92-d4aa-69274030f6ef-48bfd909 {
  justify-self: start;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f775-48bfd909 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b52d0c38-c63f-8c92-d4aa-69274030f7d1-48bfd909 {
  justify-self: start;
}

#w-node-_5c516457-2635-7648-7813-65225788187e-99157f8e {
  justify-self: center;
}

#w-node-_489584d7-c8c4-c28f-4b06-021eb4ffcbdb-99157f8e, #w-node-_489584d7-c8c4-c28f-4b06-021eb4ffcbe4-99157f8e, #w-node-_489584d7-c8c4-c28f-4b06-021eb4ffcbef-99157f8e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a71d995e-22ac-edf7-e011-eab6510f4038-a00af20a {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: stretch;
}
